@using SicoWeb.Aplicacion.ServiceLayer.Mantenimiento.Entidades
@using SicoWeb.Plumbing
@using Microsoft.Web.Helpers
@inherits SicoWeb.Plumbing.ViewPage<IEnumerable<EntidadServicioMantenimiento>>

<script src="../../../Scripts/js/UiControls.js" type="text/javascript"></script>
<script src="../../../Scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>

@Html.Partial("_Titulo")
<p>
    @{
        if (((bool) ViewData[ViewDataVariables.MantenimientoAgregable]))
        {
            <a id="dialog_link">Agregar Nuevo</a>
            <div id="dialog" title="Agregar">
                <p>@Html.Action("Create")</p>
            </div>
        }
   
    }
    
</p>
<table>
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Habilitado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", item)            
        </td>
    </tr>
}

</table>
